<div
  class="darkened-area flex items-center lg:hidden"
  *ngIf="isDarkenedAreaVisible1"
  (click)="closeDarkenedArea1()">
  <div
    class="rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] h-[391px] w-[299px] m-auto">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i class="fa-regular fa-circle-user text-4xl pt-6 px-3"></i> Michael John
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Today
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 mt-6">
      The best online zoo I’ve met. My son delighted very much ljves to
      watch....
    </p>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
</div>
<div
  class="darkened-area flex items-center lg:hidden"
  *ngIf="isDarkenedAreaVisible2"
  (click)="closeDarkenedArea2()">
  <div
    class="rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] h-[391px] w-[299px] m-auto">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i
        class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-orange-500"></i>
      Oska Samborska
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 mt-6">
      The best online zoo I’ve met. Online zoo is one jf the ways to instill a
      love for
    </p>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
</div>
<div
  class="darkened-area flex items-center lg:hidden"
  *ngIf="isDarkenedAreaVisible3"
  (click)="closeDarkenedArea3()">
  <div
    class="rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] h-[391px] w-[299px] m-auto">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i
        class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-green-500"></i>
      Fredericka Michelin
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 mt-6">
      Online zoo is one jf the ways to instill a love for animals.
    </p>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      My son delighted very much ljves to watch gouillas. Online zoo is one jf
      the ways to instill a love for animals.The best online zoo I’ve met. My
      son delighted very much ljves to watch gouillas. Online zoo is one jf the
      ways to instill a love for animals.The best online zoo I’ve met. The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
</div>
<div
  class="place-items-center gap-4 mt-10 grid lg:grid-flow-col lg:w-[910px] lg:h-[391px] 2xl:w-[1120px] lg:mx-auto lg:overflow-x-hidden"
  #reviews>
  <div
    (click)="toggleDarkenedArea_1()"
    class="review__1 testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i class="fa-regular fa-circle-user text-4xl pt-6 px-3"></i> Michael John
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Today
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      The best online zoo I’ve met. My son delighted very much ljves to
      watch....
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
  <div
    (click)="toggleDarkenedArea_2()"
    class="review__2 testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i
        class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-orange-500"></i>
      Oska Samborska
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      The best online zoo I’ve met. Online zoo is one jf the ways to instill a
      love for
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
  <div
    (click)="toggleDarkenedArea_3()"
    class="review__3 testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i
        class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-green-500"></i>
      Fredericka Michelin
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      Online zoo is one jf the ways to instill a love for animals.
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      My son delighted very much ljves to watch gouillas. Online zoo is one jf
      the ways to instill a love for animals.The best online zoo I’ve met. My
      son delighted very much ljves to watch gouillas. Online zoo is one jf the
      ways to instill a love for animals.The best online zoo I’ve met. The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
  <div
    class="hidden 2xl:block testimonial__item w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] mx-auto sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-blue-500"></i>
      Mila Riksha
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      Online zoo is one jf the ways to instill a love for animals.
    </p>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      My son delighted very much ljves to watch gouillas. Online zoo is one jf
      the ways to instill a love for animals.The best online zoo I’ve met. My
      son delighted very much ljves to watch gouillas. Online zoo is one jf the
      ways to instill a love for animals.The best online zoo I’ve met. The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.The best
      online zoo I’ve met. My son delighted very much ljves to watch gouillas.
      Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
  <div
    class="hidden lg:block testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i
        class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-orange-500"></i>
      Oska Samborska
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      The best online zoo I’ve met. Online zoo is one jf the ways to instill a
      love for
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
  <div
    class="hidden lg:block testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-rose-500"></i>
      Atay Mammad
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      The best online zoo I’ve met. Online zoo is one jf the ways to instill a
      love for
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      My son delighted very much ljves to watch gouillas. Online zoo is one jf
      the ways to instill a love for animals.The best online zoo I’ve met. My
      son delighted very much ljves to watch gouillas. Online zoo is one jf the
      ways to instill a love for animals. The best online zoo I’ve met. My son
      delighted very much ljves to watch gouillas. Online zoo is one jf the ways
      to instill a love for animals.The best online zoo I’ve met. My son
      delighted very much ljves to watch gouillas. Online zoo is one jf the ways
      to instill a love for animals.
    </p>
  </div>
  <div
    class="hidden lg:block testimonial__item sm:w-[600px] w-[299px] h-[109px] rounded-3xl border-2 border-solid border-orange-300 bg-[#F5F7F6] sm:mx-auto lg:w-[293px] lg:h-[391px] 2xl:w-[266px]">
    <h3 class="font-normal text-base leading-5 text-black mt-[-20px]">
      <i class="fa-regular fa-circle-user text-4xl pt-6 px-3 text-red-500"></i>
      Gigi Santos
    </h3>
    <h4 class="font-light text-sm leading-4 text-[#BDBDBD] mx-10">
      Local Austria
      <i class="fa-solid fa-circle ml-3 text-gray-400"></i>Yesterday
    </h4>
    <p class="font-light text-sm leading-4 text-[#4F4F4F] mx-3 lg:mt-6">
      The best online zoo I’ve met. Online zoo is one jf the ways to instill a
      love for
    </p>
    <p class="hidden lg:block font-light text-sm leading-4 text-[#4F4F4F] mx-3">
      The best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals. The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.The
      best online zoo I’ve met. My son delighted very much ljves to watch
      gouillas. Online zoo is one jf the ways to instill a love for animals.
    </p>
  </div>
</div>
<input
  #rangeInput
  id="range-input"
  type="range"
  min="1"
  max="4"
  step="1"
  value="1"
  aria-label="progress bar"
  class="hidden lg:block mt-[30px] mx-auto" />
