<section class="h-[650px]  overflow-hidden lg:h-[700px]">
  <div class="relative place-items-center">
    <h2 class="text-center text-2xl font-normal sm:text-4xl sm:leading-11 pt-7">
      Testimonials
    </h2>
    <app-review-slider></app-review-slider>
    <div class="flex justify-center py-[50px]">
      <button
        class="w-[288px] h-[54px] rounded bg-orange-500 text-white uppercase text-base leading-5 hover:bg-green-500">
        leave a feedback
      </button>
    </div>
  </div>
</section>
