<section class="mt-16 sm:m-auto lg:mt-10 lg:ml-7 lg:h-[427px]">
  <div class="lg:flex lg:pt-10 lg:justify-evenly 2xl:pt-[100px]">
    <div
      class="lg:bg-no-repeat lg:bg-cover lg:box-border lg:w-[455px] lg:h-[408px] xl:w-[600px]"
      style="
        background-image: url(../../../../../assets/main-assets/bamboo-cap\ \(1\).png);
      "></div>

    <div class="px-3 py-7 lg:py-0 lg:w-[455px] xl:w-[500px] 2xl:ml-[-100px]">
      <h2 class="text-2xl leading-7 font-normal lg:text-5xl lg:leading-14">
        The Backstage of the Wilderness World.
      </h2>
      <p class="text-base leading-5 font-normal mt-5 xl:mt-8">
        The site was founded on the basis of a volunteer movement to protect and
        care for animals.
      </p>
      <h3 class="font-normal text-2xl leading-7 mt-7 xl:mt-14">How it works</h3>
      <p class="font-normal text-base leading-6 mt-3 xl:mt-6">
        The main goal is to help the animals, as well as the nature reserves and
        zoos where they are kept. We are currently working on video projects
        targeting pandas in China, eagles on an island near Los Angeles,
        alligators in Florida and gorillas in the Congo. These have a total of
        more than 1,500 mammals and reptiles.
      </p>
    </div>
  </div>
  <img
    src="../../../../../assets/main-assets/flower_foto1 (3).png"
    alt=""
    class="hidden 2xl:block absolute top-[770px] right-0" />
</section>
