<main>
  <section>
    <div
      class="w-full box-border lg:h-[500px] h-[187px] bg-no-repeat bg-cover sm:h-[339px] xl:h-[700px]"
      style="
        background-image: url(../../../../../assets/donate-assets/panda_bg.png);
      "></div>
  </section>
  <section class="bg mx-auto h-[1145px] sm:h-[1333px] 2xl:h-[1482px]">
    <div class="px-3 sm:px-5 lg:px-9 lg:py-10 2xl:px-[220px]">
      <h1
        class="font-normal text-2xl leading-7 text-white py-7 lg:text-4xl lg:leading-11">
        THE ZOO HAS OFFICIALLY REOPENED BUT WE STILL NEED YOUR HELP!
      </h1>
      <p class="text-base font-normal leading-5 text-white">
        Even though the Zoo has been able to reopen, we are at a greatly reduced
        capacity with educational programs and public and private events
        cancelled or postponed for additional months. We need you now more than
        ever to help ensure that we overcome these challenges. We have been
        actively raising funds in the community, and we are grateful for the
        generosity. But much more support is still needed, and we need your
        help! Please consider a gift today – no matter what size – to help us
        sustain our mission.
      </p>
      <h1
        class="font-normal text-2xl leading-7 text-orange-500 py-7 sm:text-4xl sm:leading-11">
        Donation Information
      </h1>
    </div>
    <div
      class="h-[591px] w-[300px] mx-auto bg-white bg-opacity-50 backdrop-filter backdrop-blur-md rounded-lg sm:w-[600px] sm:h-[918px] lg:w-[940px] lg:h-[862px] 2xl:w-[1160px] 2xl:h-[964px] 2xl:py-[40px] 2xl:px-[92px]">
      <div>
        <h2
          class="font-normal text-2xl leading-7 text-orange-500 text-center pt-5 sm:text-5xl sm:leading-14">
          Pick and feed a friend
        </h2>
        <p
          class="text-base font-normal leading-5 text-gray-700 text-center py-3 px-1 sm:text-2xl sm:leading-7">
          We know the animals bring you joy, and in these extraordinary times,
          we’re glad.
        </p>
      </div>
      <div
        class="flex justify-between items-center sm:mt-[50px] sm:w-[532px] sm:mx-auto">
        <div class="flex flex-col items-center">
          <i class="fa-solid fa-4 text-4xl sm:text-6xl"></i>
          <p
            class="text-[9px] leading-3 text-center text-gray-700 sm:text-base sm:font-normal sm:leading-5">
            Panda diet for the day.
          </p>
        </div>
        <div><i class="fa-solid fa-xmark"></i></div>
        <div>
          <img
            src="../../../../../assets/donate-assets/panda_widget1.png"
            alt=""
            class="sm:h-[246px] sm:w-[282px]" />
        </div>
      </div>

      <div class="lg:px-[60px]">
        <h3 class="text-base font-normal leading-6 text-gray-700 py-3">
          Amount
        </h3>
        <div
          class="h-[13.5px] bg-[#404950] rounded-sm items-center flex lg:h-[25px]">
          <div
            class="inside-scale w-[262px] h-[2px] bg-[#72828E] mx-auto flex justify-between items-center sm:w-[524px] lg:w-[790px]">
            <div
              class="hidden 2xl:block rounded-full bg-[#FFEE2E] w-[10px] h-[10px]"
              data-value="5000"></div>
            <div
              class="hidden lg:block rounded-full bg-[#FFEE2E] w-[10px] h-[10px]"
              data-value="2000"></div>
            <div
              class="hidden lg:block rounded-full bg-[#FFEE2E] w-[10px] h-[10px]"
              data-value="1000"></div>
            <div
              class="w-[5px] h-[5px] rounded-full bg-[#FFEE2E] sm:w-[10px] sm:h-[10px]"
              data-value="500"></div>
            <div
              class="w-[5px] h-[5px] rounded-full bg-[#FFEE2E] sm:w-[10px] sm:h-[10px]"
              data-value="250"></div>
            <div
              class="w-[5px] h-[5px] rounded-full bg-[#FFEE2E] sm:w-[10px] sm:h-[10px] dflt"
              data-value="100"></div>
            <div
              class="w-[5px] h-[5px] rounded-full bg-[#FFEE2E] sm:w-[10px] sm:h-[10px]"
              data-value="50"></div>
            <div
              class="w-[5px] h-[5px] rounded-full bg-[#FFEE2E] sm:w-[10px] sm:h-[10px]"
              data-value="25"></div>
          </div>
        </div>
        <div class="flex justify-between p-2 2xl:text-xl">
          <div class="hidden 2xl:block money">
            <i class="fa-solid fa-dollar-sign"></i>5000
          </div>
          <div class="hidden lg:block money">
            <i class="fa-solid fa-dollar-sign"></i>2000
          </div>
          <div class="hidden lg:block money">
            <i class="fa-solid fa-dollar-sign"></i>1000
          </div>
          <div class="money"><i class="fa-solid fa-dollar-sign"></i>500</div>
          <div class="money"><i class="fa-solid fa-dollar-sign"></i>250</div>
          <div class="money"><i class="fa-solid fa-dollar-sign"></i>100</div>
          <div class="money"><i class="fa-solid fa-dollar-sign"></i>50</div>
          <div class="money"><i class="fa-solid fa-dollar-sign"></i>25</div>
        </div>
      </div>
      <div class="flex items-center my-6">
        <input
          class="w-[180px] h-[42px] border-2 border-solid border-orange-300 mx-auto lg:w-[268px] lg:h-[54px] input-field"
          type="number"
          pattern="/^-?\d+\.?\d*$/"
          onKeyPress="if(this.value.length==4) return false;"
          placeholder=" Another Amount"
          maxlength="4"
          min="1"
          max="4" />
      </div>
      <span class="flex justify-center">
        <input
          type="radio"
          placeholder="month"
          class="pt-2 appearance-none w-4 h-4 border-2 border-orange-500 rounded-full"
          name="amount"
          required />
        <label for="monthly" class="font-normal text-base mx-2">Monthly</label>
        <input
          type="radio"
          class="pt-2 appearance-none w-4 h-4 border-2 border-orange-500 rounded-full mx-2"
          name="amount"
          required
          checked />
        <label for="once" class="font-normal text-base">Once</label>
      </span>
      <div class="flex items-center py-4 sm:my-9">
        <button
          class="uppercase w-[298px] h-[54px] mx-auto bg-orange-500 rounded-3xl text-white hover:bg-green-500">
          <a routerLink="../success-donate">a friend now</a>
        </button>
      </div>
      <div class="flex justify-center">
        <p class="text-base font-normal leading-5 text-gray-700">
          Share with your friends on social networks
        </p>
      </div>
    </div>
  </section>
</main>
