<section
  class="bg-gradient-to-r from-[#FEBDAB] to-[#E0D8F0] h-[1082px] sm:h-[781px] lg:h-[876px] 2xl:h-[1004px] flex justify-center">
  <div
    class="h-[1042px] w-[300px] m-auto box-border rounded-2xl bg-rose-100 sm:w-[640px] sm:h-[741px] lg:h-[796px] lg:w-[940px] 2xl:h-[835px] 2xl:w-[1160px]">
    <div class="pt-7 lg:mt-10">
      <h2
        class="text-2xl font-normal leading-7 text-[#FE9013] sm:text-4xl sm:leading-12 text-center lg:leading-14 lg:text-5xl">
        Pick and feed a friend
      </h2>
      <p
        class="text-lg font-normal leading-5 pt-3 text-center sm:text-justify sm:mx-5 lg:text-2xl lg:leading-7 lg:pt-7 2xl:mx-[100px]">
        We know the animals bring you joy, and in these extraordinary times,
        we’re glad.
      </p>
      <p
        class="hidden sm:block leading-5 font-medium text-base pt-10 text-[#333B41] sm:mx-5 2xl:mx-[100px]">
        During a time when the COVID-19 epidemic is touching all of our lives,
        we’re proud and glad that people around the world find joy in PetStory.
      </p>
      <p
        class="hidden sm:block leading-5 font-normal text-base pt-2 text-[#333B41] sm:mx-5 2xl:mx-[100px]">
        Even though the zoo has reopened, we need you now more than ever to help
        us deal with these problems. Please consider a gift to our Emergency
        Support Fund .
      </p>
    </div>
    <div class="mt-8 mx-12">
      <h2
        class="text-2xl font-normal leading-7 text-center sm:text-4xl sm:leading-12 lg:leading-14 lg:text-5xl">
        How it works
      </h2>
      <div
        class="flex flex-col items-center mt-10 sm:flex-row sm:justify-between 2xl:mx-[198px]">
        <div class="w-[168px] h-[244px] box-border">
          <div
            class="bg-white box-border w-[168px] h-[168px] border-2 border-[#F9804B] border-solid rounded-md">
            <img
              src="../../../../../assets/main-assets/pay (1).png"
              alt=""
              class="m-7" />
          </div>
          <p class="mt-4 font-normal text-base leading-5">Pay with card</p>
        </div>
        <div class="w-[168px] h-[244px] box-border">
          <div
            class="bg-white box-border w-[168px] h-[168px] border-2 border-[#F9804B] border-solid rounded-md">
            <img
              src="../../../../../assets/main-assets/zoo (1).png"
              alt=""
              class="m-6" />
          </div>
          <p class="mt-4 font-normal text-base leading-5">
            Payment goes to the zoo
          </p>
        </div>
        <div class="w-[168px] h-[244px] box-border">
          <div
            class="bg-white box-border w-[168px] h-[168px] border-2 border-[#F9804B] border-solid rounded-md">
            <img
              src="../../../../../assets/main-assets/monkey (1).png"
              alt=""
              class="m-6" />
          </div>
          <p class="mt-4 font-normal text-base leading-5">
            Your favourite animal gets delicious dish
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <button
        class="w-[288px] h-[54px] rounded-3xl bg-orange-500 sm:mt-7 text-base leading-6 font-medium text-white hover:bg-green-500">
        <a routerLink="../donate">FEED A FRIEND NOW</a>
      </button>
    </div>
  </div>
</section>
