<div class="mx-auto py-12 px-4 sm:px-6 lg:px-8 bg">
  <div class="overflow-hidden shadow-xl sm:rounded-lg bg-orange-100">
    <div class="px-4 py-5 sm:p-6">
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-20 w-20 sm:h-24 sm:w-24 text-green-400 mx-auto mb-4"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1.293-3.707a1 1 0 011.414-1.414l2.828 2.828a1 1 0 001.414 0l6-6a1 1 0 00-1.414-1.414l-5.293 5.293-2.121-2.121a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l.707-.707z"
            clip-rule="evenodd" />
        </svg>
        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
          Thank you for your generous contribution!
        </h3>
        <p class="text-md text-gray-500 mb-4">
          Congratulations on making a meaningful difference in the lives of
          animals! Your generous donation has been successfully received, and it
          will play a vital role in supporting and improving the lives of our
          furry friends. Your compassion and support are truly making a positive
          impact on the well-being and welfare of animals. Thank you for your
          dedication to creating a better world for animals in need
        </p>
        <a
          (click)="backToHome()"
          class="text-orange-500 hover:text-green-500 cursor-pointer"
          >Back to home</a
        >
      </div>
    </div>
  </div>
</div>
