<header class="bg-black">
  <nav class="flex justify-between items-center h-9 md:h-20">
    <div>
      <h1
        class="font-bold text-base text-white hover:text-orange-500 text-center ml-6">
        <a routerLink="./main"
          >PetStory<i class="fa-solid fa-cat text-white text-3xl"></i
        ></a>
      </h1>
    </div>
    <div class="w-9 md:hidden"></div>
    <div class="md:hidden sm:ml-[300px] ml-[50px]">
      <i
        class="fa-solid fa-bars text-white justify-end hover:text-orange-500 active:text-green-500"
        (click)="toggleNav()"></i>
    </div>
    <ul class="md:flex md:font-medium hidden md:block">
      <li class="md:mr-6 hover:text-orange-500 text-white">
        <a routerLink="./main">About</a>
      </li>
      <li class="md:mr-6 hover:text-orange-500 text-white">
        <a routerLink="./donate">Donate</a>
      </li>
      <li class="hover:text-orange-500 text-white">
        <a routerLink="./contact">Contact us</a>
      </li>
    </ul>
    <div>
      <a
        href="https://rs.school/"
        class="md:block md:m-4 hover:text-orange-500 font-bold text-white hidden"
        >Designed by@</a
      >
    </div>
  </nav>
</header>

<div *ngIf="isNavOpen" class="w-full h-[186px] bg-black">
  <ul class="text-white font-bold text-base p-6">
    <li class="hover:bg-orange-500 h-[40px]">
      <a routerLink="./main">About</a>
    </li>
    <li class="hover:bg-orange-500 h-[40px]">
      <a routerLink="./donate">Donate</a>
    </li>
    <li class="hover:bg-orange-500 h-[40px]">
      <a routerLink="./contact">Contact us</a>
    </li>
    <li class="hover:bg-orange-500 h-[40px]">
      <a href="https://rs.school/">Designed by@</a>
    </li>
  </ul>
</div>
